<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <h2> Your email : <%= orders[0].user.email %></h2>
                <ul>
                    <% orders.forEach(order => { %>
                     <li>
                        <h3> Order id : <%= order._id %></h3>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li><%= product.product.title %> (<%= product.quantity %>) ₨:<%= product.product.price*product.quantity %> </li>
                                <% }) %>
                                <hr>
                                                    </ul>
                     </li>
                   <% })%>
                </ul>
                <% }%>
        </main>
        <%- include('../includes/end.ejs') %>